:host .form-inline {
	max-width: 750px;
	margin: 10px 0;
	overflow: hidden;
}

:host #isStarred,
:host #isStarred + label,
:host #isStarred + label:before,
:host #bulletType,
:host #bulletText {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

:host #isStarred {
	display: none;
}

:host #isStarred + label {
	margin-right: 5px;
}

:host #isStarred + label:before {
	content: '\E83A';
	cursor: pointer;
	user-select: none;
	font-family: "Material Icons";
	font-size: 25px;
	line-height: 38px;
}

:host #isStarred:checked + label:before {
	content: '\E838';
  color: #ffd43b;
}

:host .form-inline #bulletType {
	margin-right: 5px;
}

:host .form-inline #bulletText {
	padding: 0 5px;
}

:host .btn {
	float: right;
	vertical-align: middle;
	margin: 0;
}
