:host .content {
	padding: 10px 10px 20px;
}

:host .page-header {
  margin: 20px 0 10px;
  padding: 0;
  border-bottom: none;
}

:host .page-header h1 {
  margin: 0 0 8px;
  font-size: 30px;
}

:host .page-header .editTitle {
	font-size: 30px;
	margin-top: -2px;
	margin-bottom: 5px;
	background-color: #e2e2e2;
}

:host .page-header .divider {
  border-bottom: 1px solid #cccccc;
}

:host .page-header .timestamp {
	display: inline;
  margin: 4px 0 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #9d9d9d;
}

:host .page-header .delete {
	margin-left: 15px;
	color: #f17d7d;
  font-weight: 500;
	cursor: pointer;
	transition: color 0.3s ease-out;
}

:host .page-header .delete:hover {
	color: #f03e3e;
}

:host .list-group {
	margin: 0;
}
