<div class="content" *ngIf="pageExists()">
	<header class="page-header">
		<h1 *ngIf = "!editable" (click)="toggleEditable()">{{currentPage.title}}</h1>
		<input *ngIf = "editable" #pageTitleInput BulletFocus type="text" value = "{{currentPage.title}}" (keyup.enter) ="onEnter(pageTitleInput.value)" (keyup.esc)="toggleEditable()" />

		<div class="divider"></div>
		<p class="timestamp">Last saved {{currentPage.modified | date:'MM/dd h:mm a'}}</p>
	</header>

	<add-bullet></add-bullet>
	
	<div class="list-group" *ngIf="bulletsExist()">
		<page-bullet
		*ngFor="let bullet of currentPage.bullets"
		[bullet]="bullet">
		</page-bullet>
	</div>
</div>
