<div class="mdl-grid">
  <div class="mdl-cell--4-col regDiv">
    <mdl-card mdl-shadow="2" class="regCard">
       <mdl-card-title>
         <h2 mdl-card-title-text>Register</h2>
       </mdl-card-title>
       <mdl-card-supporting-text>
         <form [formGroup]="registrationForm"  *ngIf="active"  (ngSubmit)="onSubmit()">
           <div class="form-group">
             <mdl-textfield
               label="Email Address *"
               name="email1"
               type="text"
               class="form-control"
               formControlName="email1"
               floating-label
             ></mdl-textfield>

             <div *ngIf="formErrors.email1" class="formInputError">
               {{ formErrors.email1 }}
             </div>

           </div>

           <div class="form-group">
             <mdl-textfield
               label="Confirm Email Address *"
               name="email2"
               type="text"
               class="form-control"
               formControlName="email2"
               floating-label
             ></mdl-textfield>

             <div *ngIf="formErrors.email2" class="formInputError">
               {{ formErrors.email2 }}
             </div>

           </div>

           <div class="form-group">
             <mdl-textfield
               label="Password *"
               name="password1"
               type="password"
               class="form-control"
               formControlName="password1"
               floating-label
             ></mdl-textfield>

             <div *ngIf="formErrors.password1" class="formInputError">
               {{ formErrors.password1 }}
             </div>

           </div>

           <div class="form-group">
             <mdl-textfield
               label="Confirm Password *"
               name="password2"
               type="password"
               class="form-control"
               formControlName="password2"
               floating-label
             ></mdl-textfield>

             <div *ngIf="formErrors.password2" class="formInputError">
               {{ formErrors.password2 }}
             </div>
           </div>

           <button mdl-button mdl-button-type="raised" mdl-colored="accent" type="submit" [disabled]="!registrationForm.valid" mdl-ripple>Submit</button>

         </form>
       </mdl-card-supporting-text>
     </mdl-card>
   </div>
 </div>
