<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 center-register">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Register</h3>
        </div>

        <div class="panel-body">
          <form [formGroup]="registrationForm"  (ngSubmit)="onSubmit()">

            <!-- Email 1 Input ************************************************************************************************-->
            <div class="form-group label-floating">
              <label for="email1" class="control-label">Email Address *</label>

              <input name="email1" type="text" class="form-control" formControlName="email1" id="email1">

              <div *ngIf="formErrors.email1" class="formInputError">
                {{ formErrors.email1 }}
              </div>

            </div>
            <!-- Email 2 Input ************************************************************************************************-->
            <div class="form-group label-floating">
              <label for="email2" class="control-label">Confirm Email Address *</label>

              <input name="email2" type="text" class="form-control" formControlName="email2" id="email2">

              <div *ngIf="formErrors.email2" class="formInputError">
                {{ formErrors.email2 }}
              </div>

            </div>
            <!-- Password 1 Input *********************************************************************************************-->
            <div class="form-group label-floating">
              <label for="password1" class="control-label">Password *</label>

              <input name="password1" type="password" class="form-control" formControlName="password1" id="password1">

              <div *ngIf="formErrors.password1" class="formInputError">
                {{ formErrors.password1 }}
              </div>

            </div>
            <!-- Password 2 Input *********************************************************************************************-->
            <div class="form-group label-floating">
              <label for="password2" class="control-label">Confirm Password *</label>

              <input name="password2" type="password" class="form-control" formControlName="password2" id="password2">

              <div *ngIf="formErrors.password2" class="formInputError">
                {{ formErrors.password2 }}
              </div>

            </div>
            <!-- Submit Button ************************************************************************************************-->
            <div class="text-center">
              <button class="btn btn-raised btn-primary" type="submit" [disabled]="!registrationForm.valid || !passwordsMatch ||
              !emailsMatch">Submit</button>
            </div>
          </form>

          <!-- Alert for when some kind of error happened *********************************************************************-->
          <div *ngIf="registrationErrorMessage" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Oh snap!</strong> <span>{{ registrationErrorMessage }}</span>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
