:host {
	display: block;
	padding: 12px;
	margin-bottom: 10px;
	background-color: #464b50;
}

:host p {
	display: inline-block;
	margin: 0;
	font-size: 18px;
	line-height: 35px;
	color: white;
}

:host .options {
	float: right;
	line-height: 35px;
}

:host .options i {
	color: grey;
}
