:host .container {
	max-width: 750px;
	padding: 15px;
}

:host .form-group {
	max-width: 600px;
}

:host .back {
	display: block;
	margin-bottom: 50px;
	font-size: 16px;
	line-height: 20px;
}

:host .back i {
	font-size: 20px;
	line-height: 20px;
}

:host .section {
	margin-bottom: 20px;
}
