<h2>About DIARE</h2>

<div id="section1" class="section">
  <h3>Overview</h3>
  <p>DIARE stands for "Digital Interpretation of Analog Rapid-logging Entries". We know, it's a mouthful. The site is based off the
    <a href="http://bulletjournal.com/" target="_blank">Bullet Journal</a> framework, which was created by
    <a href="http://www.rydercarroll.com/" target="_blank">Ryder Carroll</a>. Bullet Journal prides itself on being an analog system
    for rapidly logging data entries, and this website is the digital interpretation of that system.
    DIARE, and the framework that it is based on, aim to simplify and speed up the traditional note-taking and journaling process.
    We hope that our application enables you to live a more efficient lifestyle!
  </p>
</div>

<div id="section2" class="section">
  <h3>Getting Started</h3>
  <p>Have you never used the Bullet Journal framework before, or just have never used DIARE? That's okay, we have your back! Follow
  the steps below to get up and running.</p>

  <h4>Creating A New Account </h4>
  <p>If you haven't created an account with DIARE yet, head on over to the <a href="https://diare.herokuapp.com/register" target="_blank">
    Registration</a> page to sign up. You only need two things in order to sign up for an account: a valid email address and a password.
  Click the submit button once you've filled the registration form out. If your account was successfully created, you'll be taken to this
  About page. If something went wrong, you'll see an error message letting you know what happened.</p>

  <h4>Logging In</h4>
  <p></p>
</div>
