:host {
	position: absolute;
	top: 57px;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
}

/* Mobile */
@media only screen and (max-width : 767px) {
	:host {
		top: 50px;
	}
}

/* Extra large screens */
@media only screen and (min-width : 1199px) {
	:host {
		top: 63px;
	}
}

:host .sidebar {
	position: relative;
	display: block;
	width: 350px;
	height: 100%;
	padding: 0 15px;
	background-color: #343a40;
	transition: ease-out 0.5s width;
}

/* Tablets and down */
@media (max-width: 991px) {
	:host .sidebar {
		width: 280px;
	}
}

:host .sidebar h1 {
	padding-top: 20px;
	padding-bottom: 12px;
	margin: 0;
	font-size: 22px;
	color: white;
	transition: ease-out 0.5s font-size;
}

/* Mobile */
@media (max-width: 767px) {
	:host .sidebar h1 {
		font-size: 18px;
	}
}

:host .sidebar ul {
	padding: 0;
}

:host .sidebar .sidebar-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 15px;
	color: white;
	text-align: center;
}

:host .sidebar .sidebar-toggle {
	position: absolute;
	top: 0;
	right: -45px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: lightgrey;
	text-align: center;
	background-color: #464b50;
}

:host .sidebar .sidebar-toggle i {
	font-size: 30px;
}
