<aside class="sidebar" (window:resize)="onResize($event)" [@slideInOut]="sidebar.state">
	<div class="sidebar-container">
		<h1>My Journals</h1>

		<ul *ngIf="currentJournalExists()">
			<user-journal
				*ngFor="let individual_journal of journals"
				[journal]="individual_journal"
				[class.active]="individual_journal._id == currentJournal._id">
			</user-journal>
		</ul>

		<add-journal></add-journal>
	</div>
	<a class="sidebar-toggle hidden-sm hidden-md hidden-lg hidden-xl" href="javascript:void(0)" (click)="toggleSidebarVisibility()"><i class="material-icons">{{sidebar.currentIcon}}</i></a>
</aside>

<main class="main">
	<div class="main-container" *ngIf="currentJournalExists()">
		<page-toolbar></page-toolbar>
		<page-display></page-display>
	</div>
</main>

<popup></popup>
