:host .list-group-item {
	position: relative;
	padding: 0;
	min-height: 32px;
}

:host p {
	margin: 0;
}

:host .head {
	position: absolute;
	left: 0;
}

:host .head .star {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	color: transparent;
	line-height: 32px;
}

:host .head .star i {
	vertical-align: middle;
	margin-right: 2px;
	font-size: 26px;
}

:host .head .star.starred {
	color: #ffd43b;
}

:host .head .type {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	line-height: 32px;
}

:host .content {
	vertical-align: top;
	padding-left: 48px;
	font-size: 16px;
}

:host .content .text {
	display: inline-block;
	min-height: 32px;
	margin-left: 4px;
	margin-top: 5px;
}

:host .content .delete {
	display: inline-block;
	margin-left: 8px;
	padding: 2px 4px;
	color: #989fa6;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.3s ease-out;
	opacity: 0.7;
	user-select: none;
}

:host .content .delete:hover {
	color: #f03e3e;
	font-weight: 500;
}

:host .content .edit {

}

:host .content .edit .form-control {
	display: inline-block;
	width: auto;
	height: 32px;
	margin: 0;
	margin-bottom: 5px;
	padding: 0 5px;
	background-color: #eeeeee;
	border-radius: 3px;
}
/*
:host .content .edit .delete {
	display: inline-block;
	margin-left: 5px;
	color: #f03e3e;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}*/
