:host .list-group-item {
	position: relative;
	padding: 0;
}

:host p {
	margin: 0;
	line-height: 30px;
}

:host .head {
	position: absolute;
	height: 30px;
	left: 0;
}

:host .head .star {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	font-size: 15px;
	color: transparent;
}

:host .head .star.starred {
	color: #ffd43b;
}

:host .head .star i {
	margin: 2px 0;
}

:host .head .type {
	display: inline-block;
	vertical-align: top;
	width: 15px;
	margin-right: 5px;
	font-size: 13px;
}

:host .text {
	display: inline;
	vertical-align: top;
	float: left;
	padding-left: 52px;
	font-size: 16px;
}

:host .text .delete {
	opacity: 0;
	margin-left: 10px;
	color: #868e96;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.3s ease-out,
							opacity 0.3s ease-out;
}

:host .list-group-item:hover .text .delete {
	opacity: 1;
}

:host .text .delete:hover {
	color: #fa5252;
	font-weight: 500;
}
