:host li {
	padding: 12px 10px;
	margin-top: -1px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease-out;
}

:host li:first-of-type {
	margin: 0;
}

:host li:hover {
	background-color: rgba(0,0,0,0.15);
}

:host li p {
	margin: 0;
	float:left;
}

:host(.active) li {
	text-decoration: underline;
	background-color: rgba(0,0,0,0.10);
}
