<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 center-login">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>

        <div class="panel-body">
          <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">

            <!-- Email Input **************************************************************************************************-->
            <div class="form-group label-floating">
              <label for="email" class="control-label">Email Address *</label>

              <input name="email" type="text" class="form-control" formControlName="email" id="email">

              <div *ngIf="formErrors.email" class="formInputError">
                {{ formErrors.email }}
              </div>
            </div>
            <!-- Password Input ***********************************************************************************************-->
            <div class="form-group label-floating">
              <label for="password" class="control-label">Password *</label>

              <input name="password" type="password" class="form-control" formControlName="password" id="password">

              <div *ngIf="formErrors.password" class="formInputError">
                {{ formErrors.password }}
              </div>
            </div>
            <!-- Submit Button ************************************************************************************************-->
            <div class="text-center">
              <button class="btn btn-raised btn-primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
            </div>
          </form>
        </div>

        <!-- New User Footer **********************************************************************************************-->
        <div class="panel-footer">
          <div class="text-center">
            <a routerLink="/register" routerLinkActive="active" class="btn btn-primary">New user? Register here.</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
