.formInputError {
  color: #C70039;
  font-size: .9em;
  margin-top: -12px;
  padding-top: -12px;
}

.form-group {
  margin-bottom: 10px;
}

.loginCard {
  margin-left: auto;
  margin-right: auto;
}

.loginDiv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
