<header class="header">
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Mobile screen navigation button -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
				</button>
        <a routerLink="/journals" routerLinkActive="active" class="navbar-brand" *ngIf="isLoggedIn()">{{ title }}</a>
        <a routerLink="/home" routerLinkActive="active" class="navbar-brand" *ngIf="!isLoggedIn()">{{ title }}</a>
      </div>

      <!-- Items in Navbar -->
      <div class="navbar-collapse collapse navbar-responsive-collapse" id="mainNav">
        <!-- NAV LINKS FOR WHEN USER IS LOGGED IN *****************************************************************************-->
        <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn()">
          <li id="search-li">
            <form class="navbar-form">
              <div class="form-group form-group-lg">
                <div class="input-group">
                  <span class="input-group-addon"><i class="material-icons">search</i></span>
                  <input type="text" class="form-control col-sm-8" id="search-bar" placeholder="Search">
                </div>
              </div>
            </form>
          </li>
          <li class="active"><a routerLink="/journals" routerLinkActive="active" data-toggle="collapse" data-target="#mainNav">Journals</a></li>
          <li><a routerLink="/about" data-toggle="collapse" data-target="#mainNav.in">About</a></li>

          <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
            Account <i class="material-icons">arrow_drop_down</i>
            </a>

            <ul class="dropdown-menu" id="dropdownMenu1" data-toggle="collapse" data-target="#mainNav.in">
							<li><a routerLink="/settings" routerLinkActive="active"><i class="material-icons" data-toggle="collapse" data-target="#mainNav.in">settings</i> Settings</a></li>
              <li><a routerLink="/home" routerLinkActive="active"><i class="material-icons" data-toggle="collapse" data-target="#mainNav.in">exit_to_app</i> Logout</a></li>
            </ul>
          </li>
        </ul>
        <!-- NAV LINKS FOR WHEN USER IS LOGGED OUT ****************************************************************************-->
        <ul class="nav navbar-nav navbar-right" *ngIf="!isLoggedIn()">
          <li class="active"><a routerLink="/home" routerLinkActive="active">Login</a></li>
          <li><a routerLink="/register" data-toggle="collapse" data-target="#mainNav.in">Register</a></li>
          <li><a routerLink="/about" data-toggle="collapse" data-target="#mainNav.in">About</a></li>
        </ul>

      </div>
    </div>
  </div>
</header>

<!-- Needed in order for Angular2 Routing to work. ****************************************************************************-->
<router-outlet></router-outlet>
